# Variables

In [1]:
3+8

11

In [2]:
x = 10 #x,y are variables
y = 5
x+y

15

In [3]:
x=7 #Assignment
x+y

12

In [4]:
A=5    #Print ids of variables
print(id(A))
B=10
print(id(B))
B=15
print(id(B))

140036211474800
140036211474960
140036211475120

In [5]:
C=20  #Memory efficient
print(id(C))
D=20  #id belongs to id value
print(id(D))

140036211475280
140036211475280

In [7]:
E=input("Enter your input: ")  #Reading input from keyboard

In [8]:
print(E)

okay

# Mathematical operators
## Arithmetic operators

In [9]:
5+8 #Addition

13

In [13]:
10-6 #Subtraction

4

In [14]:
6*3 #Multiplication

18

In [15]:
15/2 #Division

7.5

In [16]:
11//2 #Quotient

5

In [17]:
11%2 #Reminder

1

In [18]:
3**3 #Power or order

27

In [19]:
(6*2)/2+15-2 #BODMAS (Brackets, Order, Division, Multiplication, Addition, and Subtraction)

19.0

## Assignment operators

In [20]:
x=20
x

20

In [21]:
x+=10  #x=x+10
x

30

In [22]:
x-=10  #x=x-10
x

20

In [23]:
x*=10  #x=x*10
x

200

In [24]:
x/=10  #x=x/10
x

20.0

# Comparison operators

In [25]:
print(5<2)   #less than
print(3>1)   #greater than
print(8<=5)  #less than or equal
print(10>=5) #greater than or equal
print(2==2)  #equel to
print(7!=7)  #not equel to

False
True
False
True
True
False

# Logical operators

In [27]:
print(5<2 and 2>1)
print(5<2 or 2>1)
print(not 8>2)

False
True
True

# Bitwise operators

In [28]:
~4  #compliment

-5

 4 = (000000100)<sub>2</sub> <br />
~4 = (111111011)<sub>2</sub>

Also, negative numbers are represented using 2’s complement form  <br />
5 = (00000101)<sub>2</sub> <br />
1’s complement of 5 = (11111010)<sub>2</sub> <br />
Add 1 to get the 2’s complement,
-5 = (11111011)<sub>2</sub>

In [32]:
print(14&7)  #and

6

In [34]:
14|7  #or

15

In [36]:
24^25  #XOR

1

In [39]:
12<<2  #left shift

48

In [42]:
13>>1  #right shift

6

# Standard Data Types
Objects whose value can change are said to be mutable; objects whose value is unchangeable once they are created are called immutable.

# Immutable data types
## Numbers

In [12]:
A = 10
print(type(A))
B = 15.75
print(type(B))
C = 10+6j
print(type(C))
print(type(5==10))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [11]:
D=int(B)
print(D)
E=float(A)
print(E)
F=complex(D,E)
print(F)

ValueError: invalid literal for int() with base 10: "It's my laptop\n"

In [13]:
int(True)

1

# Strings
[Link](https://www.datacamp.com/community/tutorials/python-string-tutorial?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=278443377095&utm_targetid=aud-392016246653:dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9302242&gclid=EAIaIQobChMI--zv6qjb8gIVSWoqCh2-3QDzEAAYASAAEgJymfD_BwE)

In [10]:
A='Welcome to "AIFR"\n'
B="It's my laptop\n"
C='''My name is
 Abhishek
'''
D="""It's my
pen"""
print(A,B,C,D)

Welcome to "AIFR"
 It's my laptop
 My name is
 Abhishek
 It's my
pen

In [14]:
X='BITS AIFR'  #012345678
print(X[0])
print(X[2])
print(X[-1])
print(X[0:5])
print(X[2:])
print(X[:6])
#X[0]=A  ##Strings are immutable

B
T
R
BITS
TS AIFR
BITS A

# Tuples
[Link](https://www.tutorialspoint.com/python/python_tuples.htm)

In [15]:
tup=(54,62,12,10,62)
print(type(tup))
print(tup)
print(tup.count(62))  #only two function, use tab 
print(tup.index(10))

<class 'tuple'>
(54, 62, 12, 10, 62)
2
3

In [16]:
x=(2)  #reads as int --> to make it tuple add , 
type(x)

int

In [17]:
tup[0]   # try to assign different number

54

In [18]:
b = ("Rahul", 21, "ME")
(name, age, branch)=b   # tuple unpacking
branch[0]

'M'

# Mutable data types
## Lists

In [19]:
lst=[4,5,12,19,23,'Ramesh',2.0]
type(lst)

list

In [20]:
print(lst[0])
print(lst[2])
print(lst[-1])
print(lst[0:7])
print(lst[2:])

4
12
2.0
[4, 5, 12, 19, 23, 'Ramesh', 2.0]
[12, 19, 23, 'Ramesh', 2.0]

In [21]:
lst.append(5)
lst

[4, 5, 12, 19, 23, 'Ramesh', 2.0, 5]

In [22]:
lst.insert(2,33)  #Use shift+tab for help at the function
lst

[4, 5, 33, 12, 19, 23, 'Ramesh', 2.0, 5]

In [23]:
lst.remove('Ramesh') #delete value wise
lst

[4, 5, 33, 12, 19, 23, 2.0, 5]

In [ ]:
lst.pop(1) #delete index wise
lst

In [ ]:
lst.pop() #if not specified deletes the last element
lst

In [ ]:
lst.extend([4,8,9,22])
lst

In [ ]:
lst.sort()
lst

In [ ]:
min(lst)

In [ ]:
max(lst)

# Dictionaries

In [ ]:
dic={1:'Harsha',3:'Vinod',4:'Rahul'} #key:value

In [ ]:
dic[1]  #fetching values by key

In [ ]:
dic[2] #Key not available

In [ ]:
print(dic.get(4,'Not Found'))
print(dic.get(2,'Not Found'))

In [ ]:
keys=['Name', 'Age','Place','college']
values=['Naresh',21,'Hyderabad','BITS PILANI']

In [ ]:
dict(zip(keys,values))

# Sets

In [ ]:
A={1,5,6,54,87,23}
A

In [ ]:
B={87,5,6,54,87,23,6}  #repetition not allowed 
B

In [ ]:
B[2]  #We cant fetch the values by its indexing because order changes in sets

# Conditional Statements

In [ ]:
X=10   #Example 1
Y=12
if X<Y:
    print('X is less than Y')
elif X>Y:
    print('X is greater than Y')
else:
    print('X and Y are equal')

In [ ]:
x=6
r=x%2
if r==0:
    print('x is Even number')
elif r==1:
    print('x is odd number')

# Loops
## While

In [ ]:
count=0
while count<10:
    print(count)
    count=count+1
else: 
    print("Completed")

In [ ]:
n = 1;
nFactorial = 1;
while n < 5:
    n = n + 1
    nFactorial =  n * nFactorial
print(nFactorial)

# For

In [ ]:
x=[2,'Rahul','Banana','Apple','Grapes']
for i in x:
    print(i)

In [ ]:
X="BITS PILANI"
for i in X:
    print(i)

# Nested loops
## Example 1

In [ ]:
for j in range(5):
    print('*',end="")

In [ ]:
for j in range(5):
    print('*',end="")
print()
for j in range(5):
    print('*',end="")

In [ ]:
for i in range(5):
    for j in range(5):
        print('*',end="")
    print()

## Example 2

In [ ]:
for i in range(5):
    for j in range(i+1):
        print('*',end="")
    print()

# Example 3

In [ ]:
for i in range(5):
    for j in range(5-i):
        print('*',end="")
    print()

In [ ]:
n=int(input("Number of rows: "))
print()
for i in range(n):
    for j in range(n-i):
        print('*',end="")
    print()

# Loop Control Statements
## Break

In [ ]:
av=4   ##chocolate vending machine
x=int(input("How many you want: "))
i=1
while i<=x:
    if i>av:
        break
    print("chocolate")
    i+=1
print("Have a Good day")

# Continue

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

# Pass

In [ ]:
for i in range(1,11):
    if i==5:
        pass   #null operation, required when statement is required syntactically
    print(i)

In [ ]:
import numpy as np

In [ ]:
np.arange(10)

In [ ]:
n = "01000"
decimal_number = int(n,2)
print (decimal_number)

In [ ]:
from vpython import*
scene = canvas()

In [24]:
ball = sphere(pos=vector(-5,0,0), radius=0.5, color=color.cyan)
wallR = box(pos=vector(6,0,0), size=vector(0.2,12,12), color=color.green)
ball.velocity = vector(25,0,0)
deltat = 0.005
t = 0
ball.pos = ball.pos + ball.velocity*deltat
while t < 3:
    rate(100)
    ball.pos = ball.pos + ball.velocity*deltat t = t + deltat
    t = t + deltat

SyntaxError: invalid syntax (2406921292.py, line 9)

In [ ]:
ball.velocity = vector(25,0,0)

In [ ]:
deltat = 0.005
t = 0

In [ ]:
ball.pos = ball.pos + ball.velocity*deltat

In [ ]:
ball.pos = ball.pos + ball.velocity*deltat